$icon-font-path: './../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$font-family-sans-serif: 'Varela Round', sans-serif;
$font-family-serif: 'Varela Round', sans-serif;
$font-family-monospace: 'Varela Round', sans-serif;
$font-family-base: 'Varela Round', sans-serif;

$primary: #e3e3e3;
